[submodule "sublime-hugo-theme"]
	path = sublime-hugo-theme
	url = https://github.com/dt801ts/sublime-hugo-theme.git
[submodule "public"]
	path = public
	url = git@github.com:luneshao/luneshao.github.io.git
	branch = master
